<h1>My Orders</h1>
<div class="row">
  <div class="col-lg-3">
    <div class="order_item">
      <% @orders.order(created_at: :desc).each do |order| %>
        <%= link_to order_confirmation_path(order) do %>
          <div>Order #<%= order.id %> - <%= order.activity.title %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
