<div style="position:absolute;" class="col-lg-12 col-lg-offset-9">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>          
</div>
