<div class="inner_box">
  <div class="title"><%= activity.title %></div>
  <div class="time"><%= activity.date.localtime.strftime("%F %I:%M %p") %></div>
  <div class="price">$<%= activity.ticket_price %> per ticket</div>
</div>